@charset 'utf-8';

.rc-slider-track {
    background-color: #63C9C4;
  }
  
  .rc-slider-dot-active {  
    border-color: #63C9C4;
    border: solid 2px;
  }
  
  .rc-slider-handle {
    background-color: white;
    border-color: #63C9C4;
  }
  
  .rc-slider-handle:hover {
    border-color: black;
  }
  
  .rc-slider-handle-active:active {
    border-color: #63C9C4;
  }

